@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    background: linear-gradient(135deg, rgb(7, 66, 114), rgb(14, 101, 141));
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: transparent;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    margin-left: auto;
    padding-right: 40px;
    margin-top: 20px;
}

.navbar .nav-links li {
    margin-left: 30px;
    position: relative;
}

.navbar .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 5px;
    transition: color 0.3s ease;
    font-weight: 600;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px; /* Gap between cards */
    margin-top: 100px; /* Space from the top */
    flex-wrap: wrap;
}

.card {
    background-color: #2b2b2b;
    border-radius: 10px;
    padding: 20px;
    width: 320px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card h2 {
    color: #ff6347;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.77em;
}

.skill {
    margin-bottom: 20px;
}

.skill p {
    font-size: 1em;
    color: #f0f0f0;
    margin-bottom: 8px;
    align-items: center;
}

.progress-bar {
    background-color: #444;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    height: 20px;
    margin-bottom: 10px;
}

.progress-bar span {
    display: block;
    height: 100%;
    background-color: #ff6347;
    text-align: right;
    padding-right: 10px;
    color: #fff;
    font-size: 0.9em;
    font-weight: 600;
    border-radius: 5px;
}
